:root {
  --cor-padrao: rgb(102, 102, 240);
  --cor-second: rgb(190, 46, 159);
}

html,
body {
  height: 100%;
}

#corpo {
  background-color: var(--cor-padrao);
  height: 100%;
  align-items: center;
  margin: auto;
  display: flex;
}

.container {
  min-width: 500px;
  text-align: center;
  background-color: white;
  border: 1px solid var(--cor-padrao);
  border-radius: 15px;
  margin: 0 auto;
  padding: 1%;
  max-width: 500px;
}

#grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 4%;
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2%;
}

.row-conta {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}

.row-opt {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.row input,
select {
  width: 100%;
  padding: 3%;
  border: 2px solid var(--cor-padrao);
  border-radius: 15px;
  background: none;
  color: black;
}

select:invalid {
  color: #757575;
}

input::placeholder {
  color: #757575;
}

.row-end {
  margin: 2% 1%;
}

.row-end input {
  padding: 1.5%;
}

.row-top {
  margin-top: 5%;
}

#submit {
  margin: 3% 1% 0 1%;
  display: flex;
  justify-content: center;
}

#enviar {
  font-weight: 550;
  width: 100%;
  font-size: 15px;
  border: 1px solid var(--cor-padrao);
  border-radius: 15px;
  padding: 1.5%;
  color: white;
  background: var(--cor-padrao);
}

#enviar:hover {
  cursor: pointer;
  background: var(--cor-second);
  border: 1px solid var(--cor-second);
  transition: all 0.2s;
}

p {
  color: var(--cor-padrao);
}
