@import url(menu.css);

html,
body {
  height: 100%;
}

#corpo {
  background-color: var(--cor-padrao);
  height: 100%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  font-size: 17px;
  min-width: 70%;
  min-height: 85%;
  text-align: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 1%;
  padding-top: 2%;
  max-width: 40%;
  box-shadow: 0px 1px 8px 1px rgb(77, 76, 76);
}

h2 {
  color: black;
}

hr {
  margin: auto;
  width: 40%;
  margin-bottom: 2%;
  border: 1px solid;
  border-color: var(--cor-second);
  background-color: var(--cor-second);
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2%;
}

.row input:not(.btn){
  width: 40%;
  padding: 1.5%;
  border: 2px solid var(--cor-padrao);
  border-radius: 15px;
  background: none;
  color: black;
}

.row input:focus:not(.btn) {
  border: 2px solid var(--cor-second);
}

input::placeholder {
  color: #757575;
}

.btn {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 550;
  width: 40%;
  font-size: 17px;
  border: 1px solid var(--cor-padrao);
  border-radius: 20px;
  padding: 1%;
  color: white;
  background: var(--cor-padrao);
}


#btnExc {
  background-color: red;
}

#cancel {
  background-color: orange;
}

.btn:hover {
  cursor: pointer;
  background: var(--cor-second);
  border: 1px solid var(--cor-second);
  transition: all 0.2s;
}