:root {
  --cor-padrao: rgb(102, 102, 240);
  --cor-second: rgb(190, 46, 159);
  --cor-efeito: rgba(102, 102, 240, 0.233);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
}

body {
  font-family: sans-serif;
  background: "#dfdfdf";
  color: rgb(78, 104, 104);
}
