<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metazoa | Animais</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/basic.css">
</head>

<body onload="carregarAnimais()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-color shadow-sm">
        <a class="navbar-brand" href="../../index.html">
            <img width="100" class="d-inline-block align-top" src="../image/logo1.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link" href="feed.html">
                        <img src="../image/mundo.png">
                        <span>Feed</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" selected href="#">
                        <img src="../image/pet.png">
                        <span>Animais</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#">
                        <img src="../image/email.png">
                        <span>Convites</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="perfil.html">
                        <img src="../image/face.png">
                        <span>Perfil</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <!-- Inserir conteúdo da página aqui -->
                <button onclick=mostrarForm()>Novo animal</button>
                <button onclick=formRemover()>Remover animal adotado</button>
                <form action="../../controller/Register.php" autocomplete="off" method="POST">
                    <input type="text" placeholder="Digite o nome do novo animal" name="nomeAnimal" id="nomeAnimal"
                        style="display:none">
                    <br />
                    <input type="text" placeholder="Digite a especie desse animal" name="especAnimal" id="especAnimal"
                        required style="display:none">
                    <br />
                    <input type="text" placeholder="Digite a raça desse animal" name="racaAnimal" id="racaAnimal"
                        style="display:none">
                    <br />
                    <select name="sexo" id="sexoAnimal" required style="display:none">
                        <option value="" disabled selected hidden>Sexo do animal</option>
                        <option value="Macho">Macho</option>
                        <option value="Fêmea">Fêmea</option>
                        <option value="Não se sabe">Não identificado</option>
                    </select>
                    <br />
                    <input type="file" name="imageminput" id="imagemInput" style="display:none">
                    <br />
                    <input type="text" placeholder="Digite a descrição desse animal" name="descAnimal" id="descAnimal"
                        style="display:none">
                    <br />
                    <input type="text" placeholder="Digite a idade desse animal" name="idadeAnimal" id="idadeAnimal"
                        style="display:none">
                    <br />
                    <label for="obj" style="display:none" id="obj">Este animal é para adoção ou reprodução?</label>
                    <br />
                    <input type="radio" id="objAdoc" value="adoção" name="objetivoAnimal" class="objetivoAnimal"
                        style="display:none">
                    <label for="Adoção" id="objAdocLabel" style="display:none">Adoção </label>
                    <input type="radio" value="reprodução" id="objReprod" name="objetivoAnimal" class="objetivoAnimal"
                        style="display:none">
                    <label for="reproducao" id="objReprodLabel" style="display:none">Reprodução </label>
                    <br />
                    <input type="submit" value="Cadastrar" id="cadAnimal" style="display:none">
                </form>

                <form action="../../controller/Delete.php" method="POST" autocomplete="off">
                    <input type="number" placeholder="Digite o código do animal que foi adotado" required
                        name="codAnimExc" id="codAnimExc" style="display:none">
                    <input type="submit" value="Confirmar adoção" id="confirmExcl" style="display:none">
                </form>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">

        var chaves;
        function carregarAnimais() {
            let email = sessionStorage.getItem("email");
            axios.get(`../../controller/Get.php?animais_de=${email}`)
                .then(response => {
                    mostrarDados(response.data)

                })
                .catch(error => {
                    alert("Erro na requisição.");
                    console.log(error);
                });
        }
        function mostrarDados(animais) {
            let lista = document.querySelector(".card-body");
            animais.forEach(animal => {
                let chaves = Object.keys(animal);
                let valores = Object.values(animal);
                for (let i = 0; i < chaves.length; i++) {
                    let item = document.createElement("li");
                    item.className = "list-group-item";
                    if (i == 0) {
                        item.classList.add("text-center");
                        item.setAttribute("style", "color: black");
                        item.innerHTML = `<b>${valores[i]}</b>`;
                    }
                    else {
                        let chaveFormat = chaves[i][0].toUpperCase() + chaves[i].slice(1);
                        item.innerHTML = `<b>${chaveFormat}</b>: ${valores[i]}`;
                    }
                    lista.appendChild(item);
                }
            })
        }
        function mostrarForm() {
            document.getElementById('cadAnimal').removeAttribute('style');
            document.getElementById('nomeAnimal').removeAttribute('style');
            document.getElementById('idadeAnimal').removeAttribute('style');
            document.getElementById('descAnimal').removeAttribute('style');
            document.getElementById('especAnimal').removeAttribute('style');
            document.getElementById('sexoAnimal').removeAttribute('style');
            document.getElementById('racaAnimal').removeAttribute('style');
            document.getElementById('objAdocLabel').removeAttribute('style');
            document.getElementById('obj').removeAttribute('style');
            document.getElementById('objAdoc').removeAttribute('style');
            document.getElementById('objReprod').removeAttribute('style');
            document.getElementById('objReprodLabel').removeAttribute('style');
            document.getElementById('imagemInput').removeAttribute('style');
        }

        function formRemover() {
            document.getElementById('codAnimExc').removeAttribute('style');
            document.getElementById('confirmExcl').removeAttribute('style');
        }

    </script>

    </script>

</body>

</html>