<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metazoa | Cadastro de Pessoa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/form.css">
</head>

<body>
    <div class="container-fluid">
        <div class="card shadow" style="width: 580px">
            <div class="card-body">
                <h4 class="text-center"> <b>Cadastro de Pessoa</b> </h4>
                <form id="dadosCanil" action="../../controller/Register.php" method="POST" autocomplete="off">
                    <div class="row row-end row-top">
                        <input placeholder="Nome Completo" type="text" name="nomePessoa" required>
                    </div>
                    <div class="grid">
                        <div class="row">
                            <select name="estado" placeholder="Estado" id="inputEstado" required>
                                <option value="" disabled selected hidden>Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AM">Amazonas</option>
                                <option value="AP">Amapá</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RO">Rondônia</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SE">Sergipe</option>
                                <option value="SP">São Paulo</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Cidade" name="cidade" required>
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Rua" name="rua" required>
                        </div>
                        <div class="row">
                            <input type="number" placeholder="Número" name="numeroCasa" required>
                        </div>
                        <div class="row">
                            <input type="number" placeholder="Complemento" name="complemento">
                        </div>
                        <div class="row">
                            <input type="text" placeholder="Bairro" name="bairro" required>
                        </div>
                        <div class="row">
                            <input type="number" placeholder="Telefone para Contato" name="telefone" minlength="10"
                                maxlength="11" required>
                        </div>
                        <div class="row">
                            <input type="email" placeholder="Email" name="email" required>
                        </div>
                        <div class="row">
                            <input type="password" placeholder="Senha" name="senha" id="senha" minlength="6"
                                maxlength="12" required>
                        </div>
                        <div class="row">
                            <input type="password" placeholder="Confirmar Senha" name="confirmaSenha" id="confirmaSenha"
                                required onkeyup="VerificaSenha()">
                        </div>
                    </div>
                    <div class="row">
                        <p id="comparaSenhas"></p>
                    </div>
                    <div id="submit">
                        <input id="enviar" type="submit" value="Enviar">
                    </div>
                    <div class="row"> <span style="margin-right: 1%"> Já possui uma conta? </span>
                        <a href="login.html"> Fazer Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function VerificaSenha() {
            let senha = document.querySelector('#senha').value;
            let confirma = document.querySelector('#confirmaSenha').value;
            if (senha === confirma || confirma === "") {
                document.getElementById("comparaSenhas").innerText = " ";
            }
            else {
                document.getElementById("comparaSenhas").innerText = "As senhas não coincidem."
            }
        }
    </script>
</body>

</html>