<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metazoa | Eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/basic.css">
</head>

<body onload="carregarEventos()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-color shadow-sm">
        <a class="navbar-brand" href="../../index.html">
            <img width="100" class="d-inline-block align-top" src="../image/logo1.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link" href="feed.html">
                        <img src="../image/mundo.png">
                        <span>Feed</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="animais.html">
                        <img src="../image/pet.png">
                        <span>Animais</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="convite.html">
                        <img src="../image/email.png">
                        <span>Convites</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="perfil.html">
                        <img src="../image/face.png">
                        <span>Perfil</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" selected href="#">
                        <img src="../image/calendar.png">
                        <span>Eventos</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <div class="btn-group btn-block">
                    <button class="btn btn-success col-6" onclick=formNovo()>Novo evento</button>
                    <button class="btn btn-primary col-6" onclick=fecharForms()>Fechar formulário</button>
                </div>
                <br>
                <form id="formNew" action="../../controller/Register.php" autocomplete="off" method="POST"
                    style="display:none">
                    <br>
                    <input class="form-control" type="text" placeholder="Digite o nome do evento" name="nomeEvento">
                    <br />
                    <input class="form-control" type="text" placeholder="Digite a descrição do evento" name="descEvento"
                        required>
                    <br />
                    <input class="form-control" type="text" placeholder="Digite o local do evento" name="localEvento">
                    <br />
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="imagemEvento">
                        <label class="custom-file-label" for="customFileLang">Selecione uma imagem do evento</label>
                    </div>
                    <br /> <br>
                    <input class="form-control" type="date" placeholder="Digite a data do evento" name="dataEvento">
                    <br />
                    <input class="form-control" type="time" placeholder="Digite a hora do evento" name="horaEvento">
                    <br />
                    <input class="btn btn-info btn-block" type="submit" value="Cadastrar">
                </form>
                <br>
                <form id="formEdit" action="../../controller/Update.php" method="POST" autocomplete="off"
                    style="display:none;">
                    <div class="row">
                        <input id="nomeEventoAlt" class="form-control" type="text" name="nomeEvento" disabled>
                    </div>
                    <div class="row">
                        <input id="codEventoAlt" class="form-control" type="number" name="codigoEvento" required
                            readonly>
                    </div>
                    <div class="row">
                        <select id="listaCampos" class="form-control" type="text" name="alteracaoEvento" required>
                            <option value="" disabled hidden selected>Campo a ser alterado</option>
                        </select>
                    </div>
                    <div class="row">
                        <input class="form-control" type="text" placeholder="Novo valor" name="novoValor" required>
                    </div>
                    <div class="row">
                        <input class="btn btn-info btn-block" type="submit" value="Confirmar edição">
                    </div>
                </form>

                <form id="formExc" action="../../controller/Delete.php" method="POST" autocomplete="off"
                    style="display:none">
                    <div class="row">
                        <input id="nomeEventoExc" class="form-control" type="text" name="nomeEvento" disabled>
                    </div>
                    <div class="row">
                        <input id="codEventoExc" class="form-control" type="number" readonly required
                            name="codigoEvento">
                    </div>

                    <div class="row">
                        <input class="btn btn-info btn-block" type="submit" value="Confirmar exclusão">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(".custom-file-input").on("change", () => {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">

        var chaves;

        function carregarEventos() {
            let email = sessionStorage.getItem("email");
            axios.get(`../../controller/Get.php?eventos_de=${email}`)
                .then(response => {
                    mostrarDados(response.data)
                })
                .catch(error => {
                    alert("Erro ao carregar usuário.");
                    console.log(error);
                });
        }

        function mostrarDados(eventos) {
            if (eventos) {
                let lista = document.querySelector(".card-body");
                eventos.forEach(evento => {
                    var { codigo, nome } = evento;
                    chaves = Object.keys(evento);
                    let valores = Object.values(evento);
                    for (let i = 0; i < chaves.length; i++) {
                        let item = document.createElement("li");
                        item.className = "list-group-item";
                        if (i == 0) {
                            item.classList.add("text-center");
                            item.setAttribute("style", "color: black");
                            item.innerHTML = `<b>${valores[i]}</b>`;
                        }
                        else {
                            let chaveFormat = chaves[i][0].toUpperCase() + chaves[i].slice(1);
                            item.innerHTML = `<b>${chaveFormat}</b>: ${valores[i]}`;
                        }
                        lista.appendChild(item);
                    }

                    let div = document.createElement('li');
                    div.classList.add('btn-group', 'btn-block', 'list-group-item');
                    let btnExc = document.createElement('button');
                    btnExc.classList.add('btn', 'btn-danger', 'col-6');
                    btnExc.setAttribute('onClick', `formRemover(${codigo}, '${nome}')`);
                    btnExc.innerHTML = 'Excluir';
                    let btnAlt = document.createElement('button');
                    btnAlt.classList.add('btn', 'btn-secondary', 'col-6');
                    btnAlt.setAttribute('onClick', `formEdit(${codigo}, '${nome}')`);
                    btnAlt.innerHTML = 'Editar';

                    div.appendChild(btnAlt);
                    div.appendChild(btnExc);

                    lista.appendChild(div);
                });
                listarCampos();
            } else alert("Erro ao carregar eventos.")
        }

        function formNovo() {
            fecharForms();
            document.getElementById('formNew').removeAttribute('style');
        }

        function formRemover(codigo, nome) {
            fecharForms();
            document.getElementById('formExc').removeAttribute('style');
            document.getElementById('codEventoExc').value = codigo;
            document.getElementById('nomeEventoExc').value = nome;
        }

        function formEdit(codigo, nome) {
            fecharForms();
            document.getElementById("formEdit").removeAttribute("style");
            document.getElementById("codEventoAlt").value = codigo;
            document.getElementById('nomeEventoAlt').value = nome;
        }

        function fecharForms() {
            document.getElementById('formNew').setAttribute('style', 'display: none');
            document.getElementById("formExc").setAttribute('style', 'display: none');
            document.getElementById("formEdit").setAttribute('style', 'display: none');
        }

        function listarCampos() {
            let select = document.querySelector('#listaCampos');
            chaves.forEach(campo => {
                if (campo) {
                    let option = document.createElement('option');
                    let campoFormat = campo[0].toUpperCase() + campo.slice(1);
                    option.setAttribute('value', campoFormat);
                    option.innerHTML = campo;
                    select.appendChild(option);
                }
            });
        }

    </script>

</body>

</html>