<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metazoa | Feed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/basic.css">
</head>

<body onload="carregarFeed()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-color shadow-sm">
        <a class="navbar-brand" href="../../index.html">
            <img width="100" class="d-inline-block align-top" src="../image/logo1.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link" selected href="#">
                        <img src="../image/mundo.png">
                        <span>Feed</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="animais.html">
                        <img src="../image/pet.png">
                        <span>Animais</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="convite.html">
                        <img src="../image/email.png">
                        <span>Convites</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="perfil.html">
                        <img src="../image/face.png">
                        <span>Perfil</span>
                    </a>
                </li>
                <li id="eventPage" class="nav-item px-3" style="display:none;">
                    <a class="nav-link" href="eventos.html">
                        <img src="../image/calendar.png">
                        <span>Eventos</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="card shadow">
            <div class=" card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="color-title text-center">Animais na região:</h6>
                        <ul id="listaAnimais" class="list-group"></ul>
                        <br>
                    </div>
                    <div class="col">
                        <h6 class="color-title text-center">Eventos na região:</h6>
                        <ul id="listaEventos" class="list-group"></ul>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">

        function carregarFeed() {

            let tipo = sessionStorage.getItem("tipo");
            if(tipo == "instituicao")
                document.getElementById("eventPage").removeAttribute("style");
            let email = sessionStorage.getItem("email");

            axios.get(`../../controller/Get.php?${tipo}_id=${email}`)
                .then(response => {
                    carregarAnimais(response.data.estado);
                    carregarEventos(response.data.estado);
                })
                .catch(error => {
                    erro("usuário");
                    console.log(error);
                });
        }

        function carregarAnimais(local) {
            if (local) {
                axios.get(`../../controller/GetAll.php?animaisLocal=${local}`)
                    .then(response => mostrarDados(response.data, 'Animais'))
                    .catch(error => {
                        erro("animais");
                        console.log(error);
                    });
            } else erro("região (animais)");
        }

        function carregarEventos(local) {
            if (local) {
                axios.get(`../../controller/GetAll.php?eventosLocal=${local}`)
                    .then(response => mostrarDados(response.data, 'Eventos'))
                    .catch(error => {
                        erro("eventos");
                        console.log(error);
                    });
            } else erro("região (eventos)");
        }

        function mostrarDados(array, categoria) {
            if (array) {
                let lista = document.querySelector(`#lista${categoria}`);
                array.forEach(elemento => {
                    let chaves = Object.keys(elemento);
                    let valores = Object.values(elemento);
                    for (let i = 0; i < chaves.length; i++) {
                        let item = document.createElement("li");
                        item.className = "list-group-item";
                        if (i == 0) {
                            item.classList.add("text-center");
                            item.setAttribute("style", "color: black");
                            item.innerHTML = `<b>${valores[i]}</b>`;
                        }
                        else {
                            let chaveFormat = chaves[i][0].toUpperCase() + chaves[i].slice(1);
                            if(chaveFormat == "Imagem")
                                item.innerHTML =  `<img src="../../repository/uploadedImages/${valores[i]}" />`;
                            else
                                item.innerHTML = `<b>${chaveFormat}</b>: ${valores[i]}`;
                        }
                        lista.appendChild(item);
                    }
                })
            } else erro();
        }

        function erro(mensagem = "dados") {
            alert(`Erro ao carregar ${mensagem}.`);
        }

        // function loading(visible) {
        //     if (visible == true) {
        //         let listaAnimais = document.querySelector("#listaAnimais");
        //         let listaEventos = document.querySelector("#listaEventos");
        //         let item = document.createElement("li");
        //         item.className = "loading list-group-item text-center";
        //         item.innerHTML = "<b>Carregando...</b>";
        //         listaAnimais.appendChild(item);
        //         //listaEventos.appendChild(item);
        //     } else {
        //         let loads = document.getElementsByClassName(loading);
        //         loads.forEach(load => load.remove());
        //     }
        // }

    </script>

</body>

</html>