<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matazoa | Login</title>
    <link rel="stylesheet" href="../style/form.css">
</head>

<body>
    <script type="text/javascript">
        function salvarStorage() {
            sessionStorage.setItem("email", document.getElementById("emailInput").value);
            var radiobutton = document.getElementsByName("opcaoLogin");
            if (radiobutton[0].checked) {
                sessionStorage.setItem("tipo", "pessoa");
            else {
                    sessionStorage.setItem("tipo", "instituicao");
                }
            }
    </script>
    <div id="menu">

        <div id="logo">
            <a href="../../index.html">
                <img src="../image/logo.png">
            </a>
        </div>

        <div id="footer">
            <p>Todos os direitos reservados ® 2019.</p>
        </div>
    </div>
    <div id="corpo">
        <div class="container login">
            <div class="row">
                <h2>Login</h2>
            </div>
            <form for="login" method="POST" action="../../service/Authenticate.php" autocomplete="off">
                <div class="row row-end row-top">
                    <input type="email" placeholder="Email" id="emailInput" name="emailInput" required>
                </div>
                <div class="row row-end row-top">
                    <input type="password" placeholder="Senha" id="senhaInput" name="senhaInput" required>
                </div>

                <div class="row-opt block-opt">
                    <div>
                        <label for="opcao">Acessar como:</label>
                    </div>
                    <div class="item-opt">
                        <input type="radio" name="opcaoLogin" value="pessoa">
                        <label for="pessoa">Pessoa</label>
                    </div>
                    <div class="item-opt">
                        <input type="radio" name="opcaoLogin" value="Instituicao">
                        <label for="canil">Instituição</label>
                    </div>
                </div>
                <div id="submit">
                    <input id="enviar" type="submit" onclick="salvarStorage()" value="Entrar">
                </div>
            </form>
            <br />
            <div class="row">
                <label>Não tem um perfil ainda?</label>
            </div>
            <div class="row-opt">
                <div class="item-opt space-top">
                    <a href="cadastro-instituicao.html">Cadastre sua Instituição</a> <br />
                </div>
                <div class="item-opt space-top">
                    <a href="cadastro-pessoa.html">Cadastre seu perfil pessoal</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>