<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metazoa | Meu Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/basic.css">

</head>

<body onload="carregarUsuario()">

    <nav class="navbar navbar-expand-lg navbar-dark bg-color shadow-sm">
        <a class="navbar-brand" href="../../index.html">
            <img width="100" class="d-inline-block align-top" src="../image/logo1.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a class="nav-link" href="feed.html">
                        <img src="../image/mundo.png">
                        <span>Feed</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="animais.html">
                        <img src="../image/pet.png">
                        <span>Animais</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#">
                        <img src="../image/email.png">
                        <span>Convites</span>
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" selected href="#">
                        <img src="../image/face.png">
                        <span>Perfil</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="card shadow">
            <div class=" card-body">
                <h6 class="color-title">Sobre mim:</h6>
                <ul id="dadosUser" class="list-group"></ul>
                <br>
                <div class="d-flex flex-row justify-content-center btn-group">
                    <button id="btnAlt" class="btn btn-info col-md-4" onclick="MostraCampo()">Alterar
                        dados</button>
                    <button id="btnExc" class="btn btn-danger col-md-4" onclick="excluir()">Excluir
                        conta</button>
                </div>
                <form action="../../controller/Update.php" method="POST" autocomplete="off" id="formAlteracao"
                    style="display:none;">
                    <div class="row">
                        <select id="campoInput" class="form-control" type="text" name="alteracaoUsuario"
                            style="display:none;" required>
                            <option value="" disabled hidden selected>Campo a ser alterado</option>
                        </select>
                    </div>
                    <div class="row">
                        <input id="valorInput" class="form-control" type="text" placeholder="Novo valor"
                            name="valorInput" style="display:none;" required>
                    </div>
                    <div class="row">
                        <input id="buttonSubmit" class="btn btn-success btn-block" type="submit" value="Confirmar"
                            style="display:none;">
                    </div>
                </form>
                <form action="../Backend/Exclusao.php" method="POST" autocomplete="off" id="formExclusao"
                    style="display:none;">
                    <div class="row">
                        <input id="exclusaoUsuario" class="form-control" type="password"
                            placeholder="Digite sua senha para confirmar" name="exclusaoUsuario" style="display:none;"
                            required>
                    </div>
                    <div class="row">
                        <input id="submitExc" class="btn btn-success col-sm" type="submit" value="Confirmar"
                            style="display:none;">
                    </div>
                </form>
                <div class="row">
                    <button id="cancel" class="btn btn-danger col-sm" onclick="EscondeCampos()" style="display:none">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">

        var chaves;

        function carregarUsuario() {

            let tipo = sessionStorage.getItem("tipo");
            let email = sessionStorage.getItem("email");

            axios.get(`../../controller/Get.php?${tipo}_id=${email}`)
                .then(response => {
                        mostrarDados(response.data)
                  
                })
                .catch(error => {
                    alert("Erro na requisição.");
                    console.log(error);
                });
        }

        function mostrarDados(usuario) {
            let lista = document.querySelector("#dadosUser");

            chaves = Object.keys(usuario);
            let valores = Object.values(usuario);

            for (let i = 0; i < chaves.length; i++) {
                let item = document.createElement("li");
                item.className = "list-group-item";
                let chaveFormat = chaves[i][0].toUpperCase() + chaves[i].slice(1);
                item.innerHTML = `<b>${chaveFormat}</b>: ${valores[i]}`;
                lista.appendChild(item);
            }
        }

        function listarCampos() {
            let select = document.querySelector('#campoInput');
            chaves.forEach(campo => {
                if (campo != 'tipo') {
                    let option = document.createElement('option');
                    option.setAttribute('value', campo);
                    let campoFormat = campo[0].toUpperCase() + campo.slice(1);
                    option.innerHTML = campoFormat;
                    select.appendChild(option);
                }
            });
        }

        function MostraCampo() {
            listarCampos();
            document.getElementById("campoInput").removeAttribute("style");
            document.getElementById("valorInput").removeAttribute("style");
            document.getElementById("buttonSubmit").removeAttribute("style");
            document.getElementById("cancel").removeAttribute("style");
            document.getElementById("btnExc").setAttribute("style", "display:none");
            document.getElementById("btnAlt").setAttribute("style", "display:none");
            document.getElementById("formAlteracao").removeAttribute("style");
        }

        function excluir() {
            document.getElementById("formExclusao").removeAttribute("style");
            document.getElementById("btnExc").setAttribute("style", "display:none");
            document.getElementById("btnAlt").setAttribute("style", "display:none");
            document.getElementById("submitExc").removeAttribute("style");
            document.getElementById("exclusaoUsuario").removeAttribute("style");
            document.getElementById("cancel").removeAttribute("style");
            document.getElementById("formAlteracao").setAttribute("style", "display:none");

        }

        function EscondeCampos() {
            document.getElementById("formAlteracao").setAttribute("style", "display:none");
            document.getElementById("formExclusao").setAttribute("style", "display:none");
            document.getElementById("btnExc").removeAttribute("style");
            document.getElementById("btnAlt").removeAttribute("style");
            document.getElementById("campoInput").setAttribute("style", "display:none");
            document.getElementById("valorInput").setAttribute("style", "display:none");
            document.getElementById("buttonSubmit").setAttribute("style", "display:none");
            document.getElementById("submitExc").setAttribute("style", "display:none");
            document.getElementById("exclusaoUsuario").setAttribute("style", "display:none");
            document.getElementById("cancel").setAttribute("style", "display:none");
        }
    </script>
</body>

</html>