@import url(menu.css);

html,
body {
  height: 100%;
  background-color: var(--cor-padrao);
}

.container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}

.card {
  width: 500px;
  margin: auto;
  border-radius: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

form {
  margin-top: 2%;
}

.row {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1%;
}

.row-conta {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.row-opt {
  display: flex;
  justify-content: space-around;
}

.item-opt {
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.row input,
select {
  width: 100%;
  padding: 2%;
  border: 2px solid var(--cor-padrao);
  border-radius: 15px;
  background: none;
  color: black;
}

select {
  padding: 3%;
}

.row input:focus,
select:focus {
  border: 2px solid var(--cor-second);
}

select:invalid {
  color: #757575;
}

input::placeholder {
  color: #757575;
}

.row-end {
  margin: 1% 0% 1% 0%;
}

.row-end input {
  padding: 1%;
}

.row-top {
  margin-top: 5%;
}

.row-top input {
  padding: 1.2%;
}

#submit {
  margin: 3% 1% 0 1%;
  display: flex;
  justify-content: center;
}

#enviar {
  font-weight: 550;
  width: 100%;
  font-size: 15px;
  border: 1px solid var(--cor-padrao);
  border-radius: 15px;
  padding: 1.5%;
  color: white;
  background: var(--cor-padrao);
}

#enviar:hover {
  cursor: pointer;
  background: var(--cor-second);
  border: 1px solid var(--cor-second);
  transition: all 0.2s;
}

p {
  color: var(--cor-second);
}

a {
  color: var(--cor-second);
}

.space-top {
  margin-top: 2%;
}

.block-opt {
  margin: 5% 0 5% 0;
}
