@import url(menu.css);

body {
  background-color: #f2f2f2;
  padding-bottom: 30px;
}

.card {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.card > .card-img-top {
  width: 100%;
  height: 43%;
  border-radius: 5px;
}

.card-body > .card-img-top {
  width: 100%;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bcgd {
  background-color: white;
  border-radius: 10px;
}

.shadow {
  box-shadow: var(--shadow);
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.col-md-6,
.col-lg-6 {
  padding: 10px;
}

.btn-color:hover {
  border: 1px solid var(--cor-padrao);
  background: none;
  color: var(--cor-padrao) !important;
}

.btn-color {
  background-color: var(--cor-padrao);
  color: white !important;
}

.card-text {
  line-height: 30px;
}

.bcgd .card-text,
.modal-body {
  line-height: 35px;
}

#map {
  height: 100%;
  width: 100%;
}

.carousel {
  padding: 8px;
}

.carousel-inner {
  border-radius: 10px;
}

#textHome {
  margin: 25px 0;
}

#contato {
  margin: 30px -5px 0;
  background-color: white;
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
}
