@import url(root.css);

.navbar-nav img {
  width: 18px;
  height: 18px;
}

.bg-color {
  background-color: var(--cor-second);
}

.navbar-brand {
  padding: 0;
}

.navbar-nav span {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.navbar-nav a {
  filter: contrast(95%);
  opacity: 0.9;
}

.navbar-nav img {
  filter: invert(100%);
}

.navbar-nav a:hover {
  filter: invert(100%);
  opacity: 0.4;
}

a[selected] {
  filter: invert(81%);
  cursor: default;
  pointer-events: none;
  opacity: 0.9;
}
